################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyLocalPages.API/MyLocalPages.DTO/bin/Debug/net6.0
/MyLocalPages.API/MyLocalPages.DTO/obj
/MyLocalPages.API/MyLocalPages.API/bin/Debug/net6.0
/MyLocalPages.API/MyLocalPages.API/obj
/MyLocalPages.API/.vs
/MyLocalPages.API/MyLocalPages.API/bin/Release/net6.0
/MyLocalPages.API/MyLocalPages.API/logs
/MyLocalPages.API/MyLocalPages.DTO/bin/Release/net6.0
/MyLocalPages.API/MyLocalPages.Services/bin
/MyLocalPages.API/MyLocalPages.Services/obj
/MyLocalPages.API/MyLocalPages.Domain/bin/Debug/net6.0
/MyLocalPages.API/MyLocalPages.Domain/obj
/MyLocalPages.API/MyLocalPages.API/MyLocalPages.db
/MyLocalPages.API/MyLocalPages.Repository/bin/Debug/net6.0
/MyLocalPages.API/MyLocalPages.Repository/obj/Debug/net6.0
/MyLocalPages.API/MyLocalPages.Repository/obj
/MyLocalPages.API/MyLocalPages.API/MyLocalPages.db-wal
/MyLocalPages.API/MyLocalPages.API/MyLocalPages.db-shm
